/* gechro.io 11/15 re-design*/

* {
    margin: 0;
    padding: 0;
    color: white;
}
html {
    background: url("../imgs/53.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'PT Sans', sans-serif;
}

header {
    height: 7%;
    width: 100%;
    top: 0;
    margin: 0;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    color: rgba(255,255,255,.7);
}

section {
    margin: 20% auto;
    width:100%;
    text-align: center;
}
.prof {
    opacity: .7;
    color: rgba(255,255,255,.7);
    height: 300px;
    width: 300px;
    line-height: 300px;
    margin: 15px 5%;
    /*border: 10px solid white;*/
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}

#code {
    background-color: royalblue;
}

#design {
    background-color: violet;
}

#live {
    background-color: teal;
}

span {
    font-family: cursive;
}

.overlay {
    margin: 1% auto;
    bottom: 0;
    text-align: center;
    height: 98vh;
    width: 98vw;
    background-color: rgba(0,0,0,0.6);
    padding-top: 30vh;
}
#social_media {
    margin: 0;
    padding: 0;
}
#social_media img {
  height: 70px;
  width: 70px;
  opacity: .5;
  padding: 2vh 1vw;
}

#social_media img:hover {
  opacity: 1;
}

 #content h3, #content h1{
    padding-bottom: .5vh;
}
