/*gechro.io*/
body {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 90%;
    max-height: 450px ;
    max-width: 450px;
    display: block;
    margin: 20px auto;
}


/************************
    HEADER
************************/
#logo {
    margin: 40px auto;
    text-align: center;
}

#menu {
    margin: 15px auto;
    text-align: center;

}
#menu_list {
    list-style: none;
    text-align: center;
    padding: 0;
    display: none;
}


/************************
    SECTIONS
************************/
section {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

section header {
    background-color: gray;
    margin: 0;
    color: white;
}

section p {
    padding: 5px;
    margin: 0;
}
section div {
    text-align: left;
    margin: 0;
    padding: 0;
    display: none;
}


/************************
    FOOTER
************************/
footer {
    clear: both;
    height: 20px;
    width: 100%;
    border: 1px solid black;
    bottom: 0;
    position: absolute;
}

footer h5 {
    float: left;
    display: inline-block;
    margin-top: 0;
    }

#theme {
    display: inline-block;
    float: right;
}

#theme li {
    display: inline;

}