body {
      text-align: center;
      background: url("http://i.imgur.com/RIquUvj.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: Georgia;
    }
p {
  font-family: Georgia;
  color: #33ccff;
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
  font-size: 18px;
}
    img {
    margin-left: auto;
    margin-right: auto;
    border: 12px double;
    border-radius: 20px;
    border-color: purple;

    li {
      display: inline;
      padding: 10px 10px 10px 10px;
      color: #33ccff
    }
  h1 {
    font-family: Georgia;
    color: purple;
  }
  h2 {
    font-family: Georgia;
    color: light blue;
  }
  h4 {
    font-family: Georgia;
    color: magenta;
  }