body {
  padding: 0px;
  margin: 0px;
  background-image: url("../imgs/background1.jpg");
  background-size: cover;
  background-position: center;
}

#page_name {
  border-bottom: 1px solid gray;
  color: white;
  text-align: center;
  padding: 50px;
  font-size: 48px;
  font-family: Garamond; serif;
  font-weight: bold;
}

#blog {
  width: 70%;
  float: left;
  padding: 10px;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#about {
 float: right;
 width: 30%;
}

#about header {
  text-align: center;
  padding: 20px;
}

#about header img {
  border-radius: 100%;
  border: 3px solid white;
  height: 250px;
  width: 250px;
  margin-top: 45%;
  margin-bottom: 50px;
}

#about ul{
  width: 200px;
  margin: auto;
  padding: 20px;
}

footer {
  clear: both;
  text-align: center;
  color: white;
  height: 100px;
  margin: auto;
  border-top: 1px solid gray;
}


footer ul li {
  display: inline;
  margin: 50px;
}

.special {
  font-weight: bold;
  font-style: italic;
}