/*CSS for OOPs! My Web Development Journey - Blog*/
#blog {
  width: 70%;
  float: left;
  padding: 10px 10px 50px 10px;
  color: black;
  font-family: Garamond; serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -6%;
  margin-bottom: 2%;
}

#about {
 float: right;
 width: 30%;
 margin-top: 10%;
}

#about a {
  color:black;
}
#about header {
  text-align: center;
  padding: 20px;
}

#about ul{
  width: 200px;
  margin: auto;
  padding: 20px;
  text-align: center;
  list-style-type: none;
  font-family: cursive;
  font-weight: bolder;
}

#about ul li {
  font-family: Garamond; serif;
  font-weight: lighter;
}

.special {
  font-weight: bold;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/*Geovanna RC 02/2015*/