/*CSS for OOPs! My Web Development Journey - Main*/

#page_name {
  border-bottom: 3px groove violet;
  background-image: url("../imgs/background1.jpg");
  background-position: center;
  text-align: center;
  padding: 75px;
  color: white;
  font-family: cursive;
  font-size: 3em;
}

#enter {
  height: 300px;
  text-align: center;
  margin-top: -6%;
}

#enter img {
  border-radius: 100%;
  border: 3px groove violet;
  height: 200px;
  width: 200px;
}

#page {
  text-align: center;
  font-family: cursive;
  font-size: 1.5em;
  margin-top: .5%;
}

#body {
  display: flex;
}

main h3 {
  font-family: cursive;
  text-decoration: underline;
}
#technical {
  float: left;
  margin-top: -7%;
  margin-bottom: 9%;
  text-align: center;
  width: 30%;
  border: 2px dashed gray;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  order: 1;
}

ul {
  list-style-type: none;
  margin-left: -12%;
}

ul li {
  margin: 12px;
}

#technical a {
  color: black;
}

#main_text {
  text-align: center;;
  margin: auto auto 7% auto;
  width: 60%;
  padding: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;s
  font-family: Garamond; serif;
  font-size: 1.25em;
}

#main_text h2 {
  text-align: right;
  font-family: 'Dancing Script', cursive;
  margin-right: 60px;
  text-decoration: none;
  font-size: 2em;
}

#blog_desc {
  order: 2;
  flex: 1;
  text-align: center;
  width: 35%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Garamond; serif;
}

#desc {
  font-family: cursive;
}

#cultural {
  float: right;
  margin-top: -7%;
  margin-bottom: 9%;
  text-align: center;
  width: 30%;
  border: 2px dashed gray;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  order: 3;
}

#cultural a {
  color: black;
}

footer {
  background-image: url("../imgs/background1.jpg");
  background-position: center;
  border-top: 3px groove violet;
  text-align: center;
  padding: 20px;
  color: white;
  font-family: cursive;
  height: 100px;
  clear: both;
}

div {
  height: 30px;
  width: 100px;
  display: inline-block;
  padding: 5px 30px;
  margin: auto;
  font-family: cursive;
}

div:hover {
  background-color: white;
  opacity: .4;
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}

#social_media img {
  height: 30px;
  width: 30px;
}

#social_media hover {
  opacity: .4;
}

#github {
  background-image:
}
/*Geovanna RC 02/2015*/