body {
  padding: 0;
  margin: 0px;
}

#page_name {
  border-bottom: 3px groove violet;
  background-image: url("../imgs/background1.jpg");
  background-position: center;
  text-align: center;
  padding: 75px;
  color: white;
  font-family: cursive;
  font-size: 3em;
}

#enter {
  height: 300px;
  text-align: center;
  margin-top: -6%;
}

#enter img {
  border-radius: 100%;
  border: 3px groove violet;
  height: 200px;
  width: 200px;
}

#page {
  text-align: center;
  font-family: cursive;
  font-size: 1.5em;
  margin-top: .5%;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

main h3 {
  font-family: cursive;
  text-decoration: underline;
}
#technical {
  float: left;
  margin-top: -7%;
  margin-bottom: 9%;
  text-align: center;
  width: 30%;
  border: 1px dashed gray;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main_text {
  text-align: center;;
  border: 1px dashed gray;
  margin: auto auto 7% auto;
  width: 60%;
  padding: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;s
}
#blog_desc {
  text-align: center;;
  border: 1px dashed gray;
  margin: auto 34%;
  width: 30%;
  padding: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
  position: absolute;
}

#cultural {
  float: right;
  margin-top: -7%;
  margin-bottom: 9%;
  text-align: center;
  width: 30%;
  border: 1px dashed gray;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer {
  background-image: url("../imgs/background1.jpg");
  background-position: center;
  border-top: 3px groove violet;
  text-align: center;
  padding: 20px;
  color: white;
  font-family: cursive;
  height: 100px;
  clear: both;
}

div {
  height: 30px;
  width: 100px;
  display: inline-block;
  padding: 5px 30px;
  margin: auto;
  font-family: cursive;
}

div:hover {
  background-color: white;
  opacity: .4;
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}


